body{
background-color: rgb(242, 88, 115);
margin-top: 10%;
margin-left:15%;
margin-right: 15%;
text-align: center;

}

h1{
    color:rgb(57, 116, 140);
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}
a:link, a:visited {
    background-color: white;
    color: black;
    border: 2px solid rgb(57, 116, 140);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: rgb(57, 116, 140);
    color: white;
  }

img{
text-align: center;
margin-bottom: 5%;
}

p{
    color: rgb(250, 235, 215);
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}